{%load static%}
<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{%static 'css/blog.css'%}">
        <title>Blog Django Girls</title>
    </head>
    <body>
        <header class="page-header">
          <div class="container">
            <h1><a href="/">Tuto Blog by DjangoGirls</a></h1>
          </div>
        </header>

        <main class="container">
          <div class="row">
            <div class="col">
              {% for post in posts %}
                <article class="post">          
                    <time>published : {{post.published_date}}</time>
                    <h2><a href="">{{post.title}}</a></h2>
                    <p>{{post.text|linebreaksbr}}</p>
                </article>
              {% endfor %}
            </div>
          </div>
        </main>
        
    </body>
</html>